.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.headerListItem:hover{
    background: white;
    color: black;
}

.headerDesc{
    margin: 20px 0px;
}

.header-btn{
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.header-btn:hover{
    background: white;
    color: black;
}

.headerSearch{
    height: 30px;
    background-color: white;
    color: black;
    border: 5px solid rgb(236, 148, 32);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 10px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerSearchItem{
    display: flex;
    gap: 10px;
    align-items: center;
}

.headerSearchInput{
    border: none;
    outline: none
}

.headerSearchText{
    color: lightslategray;
    cursor: pointer;
}

.date{
    position: absolute;
    top: 55px;
    z-index: 2;
    
}

.options{
    position: absolute;
    top: 55px;
    border-radius: 10px;
    background-color: lightgrey;
    z-index: 2;
}

.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;

}

.optionCounterButton{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}